<p id="notice"><%= notice %></p>

<h1>All the Shops</h1>
<% if @shops.any? %>
  <table id="donut-table">
    <thead>
      <tr>
        <th>Name</th>
        <% @shops.first.hours.times do |h| %>
          <th><%= h %></th>
        <% end %>
        <th>Total</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @shops.each do |shop| %>
        <tr>
          <td><%= shop.name %></td>
          <% shop.hours.times do |h| %>
            <td><%= shop.donuts_per_hour(h) %></td>
          <% end %>
          <td><%= shop.total_daily_donuts %></td>
          <td><%= link_to 'Show', shop %></td>
          <td><%= link_to 'Edit', edit_shop_path(shop) %></td>
          <td><%= link_to 'Destroy', shop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<br>

<%= link_to 'New Shop', new_shop_path %>
